<div
  class="max-w-[1377px] w-full mt-0 md:mt-20 h-[360px] bg-primary rounded-xl p-4 flex flex-col text-white justify-center items-center gap-3"
>
  <h2 class="font-jakarta  text-[28px] md:text-[44px] leading-tight max-w-[670px] text-center">
    Ready to get the Website you have always wanted?
  </h2>
  <p class="text-[#FAFAFACC] text-center text-[14px] md:text-[18px]">Let’s help you grow your business</p>
  <a
    href="/contact/"
    class="bg-white text-primary mt-4 w-[100px] h-[40px] leading-[40px] rounded-4xl text-[14px] text-center items-center justify-center text-white font-semibold"
  >
    Get Started</a
  >
</div>
