<div
  class="hero-section w-full flex items-center rounded-2xl md:rounded-4xl justify-start bg-gradient-to-b from-[#EEF4FF] to-white flex-col"
>
  <div
    class="mt-8 md:mt-18 font-jakarta flex custom-responsive-font md:!text-[49px] lg:!text-[79px] tracking-tight flex-wrap md-mt-0"
  >
    <p class="relative left-1 font-jakarta">Is it a website</p>
    <img
      class="inline w-[25px] md:w-[50px] h-[25px] md:h-[50px] lg:w-[80px] lg:h-[80px] relative top-2 md:top-4 lg:top-6 mx-2 md:mx-3 lg:mx-4"
      src="/src/images/container1.png"
      alt="Arrow Down"
    />
    <p class="relative right-1 font-jakarta">you need</p>
  </div>
  <div
    class="flex custom-responsive-font w-[255px] mx-auto md:w-[538px] lg:w-[857px] h-[40px] md:h-[100px] relative tracking-tight md:!text-[49px] lg:!text-[79px]"
  >
    <p class="prefix-words font-jakarta">or the</p>
    <div class="words-rotator text-primary font-medium">
      <div
        class="word xs:top-[5px] custom top-[7px] md:!top-[13px] lg:!top-[21px] font-jakarta font-bold"
      >
        Results
      </div>
      <div
        class="word xs:top-[5px] custom top-[7px] md:!top-[13px] lg:!top-[21px] font-jakarta font-bold"
      >
        Attention
      </div>
      <div
        class="word xs:top-[5px] custom top-[7px] md:!top-[13px] lg:!top-[21px] font-jakarta font-bold"
      >
        Customers
      </div>
    </div>
    <p class="suffix-words font-jakarta">It brings?</p>
  </div>
  <p
    class="max-w-[355px] md:max-w-[725px] text-center text-[#515A6E] font-medium mt-4 md:mt-10 px-3 text-[14px] md:text-[16px]"
  >
    Your website should do more than look good — it should generate leads and
    convert visitors into customers. We build websites that deliver measurable
    results.
  </p>
  <a
    href="/contact/"
    class="bg-primary w-[100px] py-2 rounded-4xl text-[14px] text-center items-center justify-center mt-7 text-white font-semibold"
  >
    Get Started</a
  >

  {# images #}
  <div class="flex w-full justify-center gap-4 items-center mt-10 md:mt-20">
    <img
      src="/src/images/image7.webp"
      alt="Hero Section Image"
      class="w-[148px] md:w-[580px] h-[100px] md:h-[308px] 2xl:w-[700px] 2xl:h-[400px]"
    />
    <img
      src="/src/images/image10.webp"
      alt="Hero Section Image"
      class="w-[148px] md:w-[518px] h-[100px] md:h-[305px] 2xl:w-[700px] 2xl:h-[400px]"
    />
    <img
      src="/src/images/image12.webp"
      alt="Hero Section Image"
      class="w-[148px] md:w-[545px] h-[100px] md:h-[308px] 2xl:w-[700px] 2xl:h-[400px]"
    />
  </div>
</div>
<style>
  .prefix-words {
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  .words-rotator {
    position: absolute;
    top: 0;
    overflow: hidden;
    line-height: 1;
    opacity: 0;
    visibility: hidden;
  }
  .words-rotator .word {
    position: absolute;
    left: 0;
    white-space: nowrap;
  }
  .suffix-words {
    position: absolute;
    top: 0;
    white-space: nowrap;
    left: 0;
  }

  .custom-responsive-font {
    font-size: 23px;
  }

  @media (min-width: 360px) {
    .custom-responsive-font {
      font-size: 30px;
    }
  }

  .custom {
  top: 7px; /* Default for 321px+ */
}

@media (max-width: 360px) {
  .custom {
    top: 5px; /* Note: needs 'px' unit */
  }
}

</style>
