<div
  class="hero-section w-full flex items-center rounded-2xl md:rounded-4xl justify-start bg-gradient-to-b from-[#EEF4FF] to-white flex-col"
>
  <div
    class="mt-8 md:mt-18 font-jakarta flex custom-responsive-font md:!text-[49px] lg:!text-[59px] tracking-tight flex-wrap md-mt-0"
  >
    <p class="font-jakarta text-center mx-auto px-2">
      We are <span class="bg-gradient-to-r from-amber-500 to-orange-600 bg-clip-text text-transparent font-bold">lost revenue recovery</span> specialists
    </p>
  </div>
  <p
    class="max-w-[355px] md:max-w-[725px] text-center text-[#515A6E] font-medium mt-4 md:mt-10 px-3 text-[14px] md:text-[16px]"
  >
    Based on hundreds of medical websites we’ve audited, we’ve noticed a
    pattern: high-ticket medical websites often fall short on basic elements,
    like properly recorded conversions or even minimally optimized landing
    pages, and that's costing them a lot!
  </p>

  {# stats #}
  <div
    class="flex flex-col md:flex-row max-w-[1280px] mx-auto gap-5 mt-10 w-full px-4"
  >
    <div
      class="w-full md:w-1/2 p-5 rounded-2xl border border-slate-200 to-white flex flex-col"
    >
      <span class="font-jakarta text-[25px] md:text-[34px] bg-gradient-to-r from-amber-500 to-orange-600 bg-clip-text text-transparent font-bold leading-tight">Potential patients leave soon</span>
      <span class="text-[14px] md:text-[18px] mt-5 text-[#515A6E]"
        >If your ads advertise a procedure, but send users on a main page with no immediate mention of what they searched for</span
      >
      <a
      href="/contact/"
      class="bg-gradient-to-r w-[100px] hover:scale-105 transition-all duration-200 py-2 rounded-4xl px-3 text-[14px] text-center items-center justify-center mt-7 text-black shadow-sm"
    >
      Explanation</a
    >
    </div>
    <div
      class="w-full md:w-1/2 p-5 rounded-2xl border border-slate-200 to-white flex flex-col"
    >
      <span class="font-jakarta text-[25px] md:text-[34px] bg-gradient-to-r from-amber-500 to-orange-600 bg-clip-text text-transparent font-bold leading-tight">Up to 70% less conversions</span>
      <span class="text-[14px] md:text-[18px] mt-5 text-[#515A6E]"
        >If your website/ads setup does not track form, call and "enhanced" conversions properly</span
      >
      <a
      href="/contact/"
      class="bg-gradient-to-r w-[100px] hover:scale-105 transition-all duration-200 py-2 rounded-4xl px-3 text-[14px] text-center items-center justify-center mt-7 text-black shadow-sm"
    >
      Explanation</a
    >
    </div>
  </div>
</div>
<style>
  .prefix-words {
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  .words-rotator {
    position: absolute;
    top: 0;
    overflow: hidden;
    line-height: 1;
    opacity: 0;
    visibility: hidden;
  }
  .words-rotator .word {
    position: absolute;
    left: 0;
    white-space: nowrap;
  }
  .suffix-words {
    position: absolute;
    top: 0;
    white-space: nowrap;
    left: 0;
  }

  .custom-responsive-font {
    font-size: 23px;
  }

  @media (min-width: 360px) {
    .custom-responsive-font {
      font-size: 30px;
    }
  }

  .custom {
    top: 7px; /* Default for 321px+ */
  }

  @media (max-width: 360px) {
    .custom {
      top: 5px; /* Note: needs 'px' unit */
    }
  }
</style>
