<div class="mt-10 sm:mt-30 flex flex-col items-center justify-center px-3">
    <span class="text-primary text-[16px] uppercase">Portfolio</span>
    <h2 class="font-jakarta text-[28px] sm:text-[60px] max-w-[700px] text-center leading-[36px] sm:leading-[60px] mt-5">
        See what we’ve built for businesses like yours
    </h2>
    <p class="text-center text-[14px] sm:text-[18px] text-[#515A6E] mt-5 max-w-[700px]">
        You need to see what we've done for small businesses facing the same challenges you face every day. No matter what your business is, we can build a website that is effective, beautiful, performant, and tailored to your industry.
    </p>
    <div class="flex flex-col lg:flex-row gap-10 mt-10 justify-between items-between">
        <div class="max-w-[558px] w-full">
            <img src="../../src/images/site2.jpg" class="md:h-[317px] sm:min-w-[400px] max-w-[558px] w-full rounded-xl filter brightness-80 hover:brightness-100 transition-all duration-300" alt="Handyman on Purpose site">
            <h3 class="font-jakarta text-[18px] sm:text-[28px] mt-10">Handyman on Purpose</h3>
            <p class="text-[14px] sm:text-[18px] text-[#515A6E] mt-3">
                Handyman on Purpose is an LA-based home repair expert with a mission-driven brand; we redesigned the website for clarity, speed, and bookings that convert.
            </p>
            <a href="https://handymanonpurpose.com/" target="_blank" class="text-primary text-[14px] font-bold mt-6 block">Visit Website</a>
        </div>
        <div class="max-w-[558px] w-full">
            <img src="../../src/images/site3.jpg" class="md:h-[317px] sm:min-w-[400px] max-w-[558px] w-full rounded-xl filter brightness-80 hover:brightness-100 transition-all duration-300" alt="Handyman on Purpose site">
            <h3 class="font-jakarta text-[18px] sm:text-[28px] mt-10">The Cheshire Lawncare Company</h3>
            <p class="text-[14px] sm:text-[18px] text-[#515A6E] mt-3">
                The Cheshire Lawncare Company is a premium lawn care in Cheshire. We redesigned their site with a clean, credible look, clear service info, and strong local SEO to boost residential inquiries.
            </p>
            <a href="https://thecheshirelawncare.co.uk/" target="_blank" class="text-primary text-[14px] font-bold mt-6 block">Visit Website</a>
        </div>
    </div>
</div>