<div class="flex flex-col md:flex-row mt-14 items-center gap-4 md:gap-13 px-3">
    <div class="w-full flex flex-col  bg-white max-w-[706px] leading-tight text-[#020C22]">
        <span class="text-primary text-[12px] md:text-[16px] uppercase">What We Do</span>
        <h1 class="font-jakarta text-[24px] md:text-[60px] leading-tight">
            We recover conversions that are being lost
        </h1>
        <p class=" text-[14px] md:text-[18px] text-[#515A6E] pt-5">
            We know you don’t care about “marketing theory” or fancy dashboards that look good in reports. What you care about is more booked calls, more qualified leads, and more revenue. Our conversion rate optimization is built around proven best practices that remove friction, fix tracking leaks, and turn more of your existing traffic into paying patients - not abstract metrics that make agencies feel smart.
        </p>
        {# services #}
        <div class="flex flex-col gap-5 mt-10">
            <div class="p-5 flex flex-col gap-3 bg-[#F9FBFF] border border-[#D5E1FD] rounded-lg">
                <h2 class="font-jakarta text-[18px] md:text-[28px]">
                    Right page & Right offer = More conversions.                </h2>
                <span class=" text-[14px] md:text-[18px] text-[#515A6E]">
                    If the ad says “Facelift,” we send traffic to a facelift-specific page - so visitors get exactly what they searched for, which massively boosts conversion chances
                </span>
                <a
                    href="/contact/"
                    class="flex bg-primary w-[100px] h-[40px] rounded-4xl text-[14px] text-center items-center justify-center text-white
                        font-semibold mt-8">
                    Get Started</a>
            </div>
            <div class="p-5 flex flex-col gap-3 bg-[#F9FBFF] border border-[#D5E1FD] rounded-lg">
                <h2 class="font-jakarta text-[18px] md:text-[28px]">
                    Conversion tracking that actually works
                </h2>
                <span class=" text-[14px] md:text-[18px] text-[#515A6E]">
                    We set up and verify form submissions, phone calls, and enhanced conversions so every real lead is tracked properly. No blind ad spend, no guessing
                </span>
                <a
                    href="/contact/"
                    class="flex bg-primary w-[100px] h-[40px] rounded-4xl text-[14px] text-center items-center justify-center text-white
                        font-semibold mt-8">
                    Get Started</a>
            </div>
            <div class="p-5 flex flex-col gap-3 bg-[#F9FBFF] border border-[#D5E1FD] rounded-lg">
                <h2 class="font-jakarta text-[18px] md:text-[28px]">
                    Speed that converts
                </h2>
                <span class="text-[14px] md:text-[18px] text-[#515A6E]">
                    Slow-loading pages and cheap hosting drive visitors away and tank ad performance. We fix page speed and backend delays so your site feels instant - keeping visitors engaged and turning more clicks into conversions
                </span>
                <a
                    href="/contact/"
                    class="flex bg-primary w-[100px] h-[40px] rounded-4xl text-[14px] text-center items-center justify-center text-white
                        font-semibold mt-8">
                    Get Started</a>
            </div>
        </div>
    </div>
    {#  #}
    <div class="max-w-full md:max-w-[522px] w-full h-[396px] md:h-[646px] mx-auto what-we-do-bg rounded-2xl p-3 md:p-5">
        <div class="flex flex-col justify-between  bg-white rounded-2xl p-5 h-full">
            <div class="flex justify-between w-full">
                <span class="font-jakarta text-[16px] text-[#515A6E]">We got this!</span>
                <img src="/src/images/arrow.svg" alt="We work in detail for every project!" class="arrow-svg w-[57px] md:w-[83px] h-[57px] md:h-[83px]">
            </div>
            <h2 class="font-jakarta text-[24px] md:text-[38px]">
                Once we eliminate the "money leaks" across your funnel, the improvements compound and will drive a significant lift in conversions
            </h2>
        </div>
    </div>
</div>