<div class="px-3">
    <div class="max-w-[1280px] p-5 md:p-9 rounded-2xl bg-primary flex items-center mt-10 md:mt-40 gap-10 lg:flex-row flex-col-reverse">
        <div class="relative">
            <img src="/src/images/hero.jpg" alt="What Makes Us Different" class="w-[522px] rounded-2xl">
            <div class="absolute bottom-4 right-4 backdrop-blur-xl flex flex-col p-2 rounded-lg">
                <span class="text-[#FCFBFB] text-[14px] font-bold">
                    Giorgi Khutiashvili
                </span>
                <span class="text-[#FCFBFB] text-[14px]">
                    Founder
                </span>
            </div>
        </div>
        <div class="flex flex-col gap-2 max-w-[643px] mx-auto">
            <h2 class="font-jakarta text-white text-[28px] md:text-[50px] leading-tight">What Makes Us Different
            </h2>
            <p class="text-[#F6F6F6] text-[14px] md:text-[18px] font-medium mt-3">We understand you're busy running your business, not managing
                websites. Every feature we include serves a purpose, no bloated extras that complicate your life.
            </p>
            <div class="flex flex-col gap-6 mt-5 md:mt-10">
                <div class="flex gap-2">
                    <img src="/src/images/check.svg" alt="Check" class="w-[20px] h-[20px] md:w-[24px] md:h-[24px]">
                    <span class="text-[#FCFBFB] text-[14px] md:text-[16px] font-medium">
                        Clear Process, No Guesswork
                    </span>
                </div>
                <div class="flex gap-2">
                    <img src="/src/images/check.svg" alt="Check" class="w-[20px] h-[20px] md:w-[24px] md:h-[24px]">
                    <span class="text-[#FCFBFB] text-[14px] md:text-[16px] font-medium">
                        Fast Load Times, Clean Design
                    </span>
                </div>
                <div class="flex gap-2">
                    <img src="/src/images/check.svg" alt="Check" class="w-[20px] h-[20px] md:w-[24px] md:h-[24px]">
                    <span class="text-[#FCFBFB] text-[14px] md:text-[16px] font-medium">
                        SEO-Friendly From the Start
                    </span>
                </div>
                <div class="flex gap-2">
                    <img src="/src/images/check.svg" alt="Check" class="w-[20px] h-[20px] md:w-[24px] md:h-[24px]">
                    <span class="text-[#FCFBFB] text-[14px] md:text-[16px] font-medium">
                        24/7 Support from the team
                    </span>
                </div>
                <div class="flex gap-2">
                    <img src="/src/images/check.svg" alt="Check" class="w-[20px] h-[20px] md:w-[24px] md:h-[24px]">
                    <span class="text-[#FCFBFB] text-[14px] md:text-[16px] font-medium">
                        No Templates. Ever.
                    </span>
                </div>
            </div>
        </div>
    </div>