<div class="flex flex-col md:flex-row mt-14 items-center gap-4 md:gap-13 px-3">
    <div class="w-full flex flex-col  bg-white max-w-[706px] leading-tight text-[#020C22]">
        <span class="text-primary text-[16px] uppercase">What We Do</span>
        <h1 class="font-jakarta text-[38px] md:text-[60px]">
            Your Website Should Close Deals Like A Salesperson On Your Behalf
        </h1>
        <p class="font-medium text-[14px] md:text-[18px] text-[#515A6E] pt-5">
            We know you don't have time for complicated solutions or corporate fluff. Each website we build is custom-designed for
            small businesses that is focused on what actually drives results, not what looks impressive in a boardroom.
        </p>
        {# services #}
        <div class="flex flex-col gap-5 mt-10">
            <div class="p-5 flex flex-col gap-3 bg-[#F9FBFF] border border-[#D5E1FD] rounded-lg">
                <h2 class="font-jakarta text-[18px] md:text-[28px]">
                    E-Commerce Sites
                </h2>
                <span class="font-medium text-[14px] md:text-[18px] text-[#515A6E]">
                    Sell your products online with secure, easy-to-manage online stores
                </span>
                <a
                    href="/contact/"
                    class="flex bg-primary w-[100px] h-[40px] rounded-4xl text-[14px] text-center items-center justify-center text-white
                        font-semibold mt-8">
                    Get Started</a>
            </div>
            <div class="p-5 flex flex-col gap-3 bg-[#F9FBFF] border border-[#D5E1FD] rounded-lg">
                <h2 class="font-jakarta text-[18px] md:text-[28px]">
                    Landing Pages
                </h2>
                <span class="font-medium text-[14px] md:text-[18px] text-[#515A6E]">
                    High-converting pages for ads, promotions, or product launches.
                </span>
                <a
                    href="/contact/"
                    class="flex bg-primary w-[100px] h-[40px] rounded-4xl text-[14px] text-center items-center justify-center text-white
                        font-semibold mt-8">
                    Get Started</a>
            </div>
            <div class="p-5 flex flex-col gap-3 bg-[#F9FBFF] border border-[#D5E1FD] rounded-lg">
                <h2 class="font-jakarta text-[18px] md:text-[28px]">
                    Website Redesign
                </h2>
                <span class="font-medium text-[14px] md:text-[18px] text-[#515A6E]">
                    Already have a site? We’ll refresh it and make it work better for you.
                </span>
                <a
                    href="/contact/"
                    class="flex bg-primary w-[100px] h-[40px] rounded-4xl text-[14px] text-center items-center justify-center text-white
                        font-semibold mt-8">
                    Get Started</a>
            </div>
        </div>
    </div>
    {#  #}
    <div class="max-w-full md:max-w-[522px] w-full h-[396px] md:h-[646px] mx-auto what-we-do-bg rounded-2xl p-3 md:p-5">
        <div class="flex flex-col justify-between  bg-white rounded-2xl p-5 h-full">
            <div class="flex justify-between w-full">
                <span class="font-jakarta text-[16px] text-[#515A6E]">We work in detail for every project!</span>
                <img src="/src/images/arrow.svg" alt="We work in detail for every project!" class="w-[57px] md:w-[83px] h-[57px] md:h-[83px]">
            </div>
            <h2 class="font-jakarta text-[24px] md:text-[38px]">
                What If Your Website Could Work 24/7 to Bring You New Customers While You Sleep?
            </h2>
        </div>
    </div>
</div>