<div class="px-3">
    <div class="max-w-[1280px] p-5 md:p-9 rounded-2xl bg-primary flex items-center mt-10 md:mt-40 gap-10 lg:flex-row flex-col-reverse">
        <div class="relative">
            <img src="/src/images/hero.jpg" alt="What Makes Us Different" class="w-[522px] rounded-2xl">
            <div class="absolute bottom-4 right-4 backdrop-blur-xl flex flex-col p-2 rounded-lg">
                <span class="text-[#FCFBFB] text-[14px] font-bold">
                    George ( Giorgi )
                </span>
                <span class="text-[#FCFBFB] text-[14px]">
                    Founder
                </span>
            </div>
        </div>
        <div class="flex flex-col gap-2 max-w-[643px] mx-auto">
            <h2 class="font-jakarta text-white text-[28px] md:text-[50px] leading-tight">A word about our founder
            </h2>
            <p class="text-[#F6F6F6] text-[14px] md:text-[18px] mt-3">
                Most business advice is stuck in the past, but George focuses on what’s actually happening right now. He founded this company to help navigate the mess of the modern business world with a focus on simple, effective execution. He’s less about the "visionary" talk and more about finding the smartest way to get things done and keep moving forward.
            </p>
        </div>
    </div>

{# <div class="flex flex-col md:flex-row gap-5 mt-10 w-full">
    <div class="w-full md:w-1/2 p-5 rounded-2xl bg-[#F5F7F9] border border-[#F2F2F2] flex flex-col">
        <span class="font-jakarta text-[52px] md:text-[74px]">100%</span>
        <span class="text-[14px] md:text-[18px] mt-5 text-[#515A6E]">Proven Track Record of Excellence</span>
    </div>
    <div class="w-full md:w-1/2 p-5 rounded-2xl bg-[#F5F7F9] border border-[#F2F2F2] flex flex-col">
        <span class="font-jakarta text-[52px] md:text-[74px]">22+</span>
        <span class="text-[14px] md:text-[18px] mt-5 text-[#515A6E]">Clients Served with Proven Results</span>
    </div>
</div> #}