<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Craftal Web Design Agency</title>
    <!-- Preload critical fonts -->
    <link
      rel="preload"
      href="/src/fonts/Satoshi-Regular.otf"
      as="font"
      type="font/otf"
      crossorigin
    />
    <link
      rel="preload"
      href="/src/fonts/Satoshi-Medium.otf"
      as="font"
      type="font/otf"
      crossorigin
    />
    <link
      rel="preload"
      href="/src/fonts/Satoshi-Bold.otf"
      as="font"
      type="font/otf"
      crossorigin
    />
    <link
      rel="preload"
      href="/src/fonts/plusjakartasans.ttf"
      as="font"
      type="font/ttf"
      crossorigin
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <link href="/src/output.css" rel="stylesheet" type="text/css" />
    <script src="/src/js/app.js" defer type="text/javascript"></script>
  </head>
  <body>
    {% include "components/base/header.njk" %}
    <main class="max-w-[1439px] md:max-w-[2500px] w-full mx-auto px-2 md:px-7 py-4">
      {% include "components/sections/hero-section.njk" %}
      <div class="max-w-[1280px] mx-auto w-full">
        {% include "components/sections/what-we-do.njk" %} {% include
        "components/sections/what-makes-us-different.njk" %} {% include
        "components/sections/portfolio.njk" %}
      </div>
      {% include "components/sections/pricing.njk" %}
      {% include "components/sections/testimonials.njk" %}
      <div class="p-4 w-full">
          {% include "components/sections/cta.njk" %}
      </div>
    </main>
    {% include "components/base/footer.njk" %}
  </body>
</html>
