<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Craftal Web Design Agency</title>
    <link href="/src/output.css" rel="stylesheet" type="text/css">
</head>
<body>
    {% include "components/base/header.njk" %}

    <h1 class="text-green-400">Hello World</h1>

    {% include "components/base/footer.njk" %}
</body>
</html>