<header>
    <div class="flex justify-between items-center max-w-[1439px] mx-auto px-3 md:px-7 py-4">
        <div class="flex items-center">
            <a href="/" class="font-bold text-3xl flex items-center gap-1 flex items-end">
                <span>Craftal</span>
                <span class="bg-primary w-[10px] h-[10px] rounded-full relative bottom-1.5"></span>
                </span>
            </a>
        </div>
        <nav class="hidden md:flex items-center gap-8 text-[#515A6E] font-medium text-[14px]">
            {# <a href="/about/" class="{% if page.url == '/about/' %}text-primary{% endif %}">About</a> #}
            <div class="menuItem flex items-center gap-1 group relative">
                {# <span class="flex items-center gap-1 cursor-pointer">
                    <span class="{% if page.url == '/ecommerce/' or page.url == '/landing-page/' or page.url == '/website-redesign/' %}text-primary{% endif %}">Services</span>
                    <img src="../../src/images/chevron-down.svg" alt="Arrow Down" class="arrow w-4 h-4 transition-transform duration-180">
                </span> #}
                {# dropdown menu #}
                {# <div class="dropdown hidden text-[14px] w-[150px] absolute bg-white shadow-sm rounded-md px-2 py-3 -left-5 -bottom-35 z-50
                        opacity-0 transition-opacity duration-200 flex-col">
                    <a href="/ecommerce/" class="pb-3">E-commerce Site</a>
                    <a href="/landing-page/" class="pb-3">Landing Page</a>
                    <a href="/website-redesign/" class="pb-1">Website Redesign</a>
                    <div class="bg-primary h-[7px] absolute w-full left-0 bottom-0 rounded-bl-md rounded-br-md"></div>
                </div> #}
            </div>
            <a href="/contact/" class="{% if page.url == '/contact/' %}text-primary{% endif %}">Contact Us</a>
        </nav>
        <a
            href="/contact/"
            class="hidden md:flex bg-primary w-[100px] h-[40px] rounded-4xl text-[14px] text-center items-center justify-center
                text-white font-semibold bg-gradient-to-r bg-primary hover:scale-105 transition-all duration-200">
            Get Started</a>
        {# responsive #}
        {# hamburger icon #}
        <div class="md:hidden flex flex-col items-center justify-center gap-1 w-[17px] hamburger">
            <span class="w-full h-[2px] bg-black block rounded-md"></span>
            <span class="w-full h-[2px] bg-black block rounded-md"></span>
            <span class="w-full h-[2px] bg-black block rounded-md"></span>
        </div>
        {# mobile menu #}
        <div class="mobile-menu md:hidden w-[0] fixed top-0 left-0 z-10  bg-black/70 backdrop-blur-sm">
            <div class="mobile-menu-content md:hidden overflow-hidden w-[0] transition-all duration-300 shadow-md h-[100vh] bg-white ">
                <div class="flex flex-col ">
                    <div class="flex items-center justify-between w-full">
                        <a href="/" class="font-bold text-3xl flex items-center gap-1 flex items-end">
                            <span>Craftal</span>
                            <span class="bg-primary w-[10px] h-[10px] rounded-full relative bottom-1.5"></span>
                            </span>
                        </a>
                        <svg class="close-icon" width="15" height="14" viewbox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M13.5 1L1.5 13M1.5 1L13.5 13"
                                stroke="#1E1E1E"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"/>
                        </svg>
                    </div>
                    {# menu items #}
                    <div class="flex flex-col mt-10 gap-10 px-3">
                        <a href="/about/" class="{% if page.url == '/about/' %}text-primary {% endif %}">About</a>
                        <div class="responsive-menu-item flex flex-col items-start gap-1 group relative">
                            <span class="flex items-center gap-1 cursor-pointer">
                                <span class="{% if page.url == '/ecommerce/' or page.url == '/landing-page/' or page.url == '/website-redesign/' %}text-primary {% endif %}">Services</span>
                                <img src="../../src/images/chevron-down.svg" alt="Arrow Down" class="arrow-responsive w-4 h-4 transition-transform duration-180">
                            </span>
                            {# dropdown menu #}
                            <div class="responsive-dropdown h-[0] overflow-hidden text-[14px] w-full bg-white shadow-sm rounded-md 
                                    duration-200 flex flex-col">
                                <a href="/ecommerce/" class="pb-3">E-commerce Site</a>
                                <a href="/landing-page/" class="pb-3">Landing Page</a>
                                <a href="/website-redesign/" class="pb-1">Website Redesign</a>
                                <div class="decoration hidden bg-primary h-[7px] absolute w-full left-0 bottom-0 rounded-bl-md rounded-br-md"></div>
                            </div>
                        </div>
                        <a href="/contact/" class="{% if page.url == '/contact/' %}text-primary {% endif %}">Contact Us</a>
                    </div>
                    <a
                        href="/contact/"
                        class="bg-primary w-full py-2 mt-8 rounded-4xl text-[14px] text-center items-center justify-center text-white
                            font-semibold">
                        Get Started</a>
                </div>
            </div>
        </div>
    </div>
</header>